<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JTunes - Parte I</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Teste</display-name>
		<servlet-name>Teste</servlet-name>
		<servlet-class>controller.Teste</servlet-class>
		
		<init-param>
			<param-name>login_administrador</param-name>
			<param-value>admin</param-value>
		</init-param>
		
		<init-param>
			<param-name>senha_administrador</param-name>
			<param-value>1234567890</param-value>
		</init-param>
		
		
		<init-param>
			<param-name>PATH</param-name>
			<param-value>/home/vanderson/git/JTunes - Parte I/JTunes - Parte I/Músicas</param-value>
		</init-param>
		
		
		
		
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JTunes</display-name>
		<servlet-name>JTunes</servlet-name>
		<servlet-class>controller.JTunes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cadastrar</display-name>
		<servlet-name>Cadastrar</servlet-name>
		<servlet-class>controller.Cadastrar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletContato</display-name>
		<servlet-name>ServletContato</servlet-name>
		<servlet-class>controller.ServletContato</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MostraDadosServlet</display-name>
		<servlet-name>MostraDadosServlet</servlet-name>
		<servlet-class>controller.MostraDadosServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Entrar</display-name>
		<servlet-name>Entrar</servlet-name>
		<servlet-class>controller.Entrar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletFuncionario</display-name>
		<servlet-name>ServletFuncionario</servlet-name>
		<servlet-class>controller.ServletFuncionario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletUsuario</display-name>
		<servlet-name>ServletUsuario</servlet-name>
		<servlet-class>controller.ServletUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCadastrar</display-name>
		<servlet-name>ServletCadastrar</servlet-name>
		<servlet-class>controller.ServletCadastrar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAdicionaUsuario</display-name>
		<servlet-name>ServletAdicionaUsuario</servlet-name>
		<servlet-class>controller.ServletAdicionaUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRemoveUsuario</display-name>
		<servlet-name>ServletRemoveUsuario</servlet-name>
		<servlet-class>controller.ServletRemoveUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletPesquisaUsuario</display-name>
		<servlet-name>ServletPesquisaUsuario</servlet-name>
		<servlet-class>controller.ServletPesquisaUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAdicionProduto</display-name>
		<servlet-name>ServletAdicionProduto</servlet-name>
		<servlet-class>controller.ServletAdicionProduto</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAdicionarMP3</display-name>
		<servlet-name>ServletAdicionarMP3</servlet-name>
		<servlet-class>controller.ServletAdicionarMP3</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRemoveMP3</display-name>
		<servlet-name>ServletRemoveMP3</servlet-name>
		<servlet-class>controller.ServletRemoveMP3</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletPesquisarMP3</display-name>
		<servlet-name>ServletPesquisarMP3</servlet-name>
		<servlet-class>controller.ServletPesquisarMP3</servlet-class>
	</servlet>
    <servlet>
        <description/>
        <display-name>ServletPagamento</display-name>
        <servlet-name>ServletPagamento</servlet-name>
        <servlet-class>controller.ServletPagamento</servlet-class>
    </servlet>
	
	
	
	
	
	<servlet-mapping>
		<servlet-name>Teste</servlet-name>
		<url-pattern>/Teste</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JTunes</servlet-name>
		<url-pattern>/JTunes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cadastrar</servlet-name>
		<url-pattern>/Cadastrar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletContato</servlet-name>
		<url-pattern>/ServletContato</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostraDadosServlet</servlet-name>
		<url-pattern>/MostraDadosServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Entrar</servlet-name>
		<url-pattern>/Entrar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFuncionario</servlet-name>
		<url-pattern>/ServletFuncionario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletUsuario</servlet-name>
		<url-pattern>/ServletUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCadastrar</servlet-name>
		<url-pattern>/ServletCadastrar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAdicionaUsuario</servlet-name>
		<url-pattern>/ServletAdicionaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRemoveUsuario</servlet-name>
		<url-pattern>/ServletRemoveUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPesquisaUsuario</servlet-name>
		<url-pattern>/ServletPesquisaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAdicionProduto</servlet-name>
		<url-pattern>/ServletAdicionProduto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAdicionarMP3</servlet-name>
		<url-pattern>/ServletAdicionarMP3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRemoveMP3</servlet-name>
		<url-pattern>/ServletRemoveMP3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPesquisarMP3</servlet-name>
		<url-pattern>/ServletPesquisarMP3</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPagamento</servlet-name>
        <url-pattern>/ServletPagamento</url-pattern>
    </servlet-mapping>
	
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/erro.html</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
